.container1{
    display: flex;
    /* justify-content: space-between; */
}
.cont{
    height: auto;
    margin: 15px 80px;
}
.header{
    font-size: 24px;
    display: flex;
    gap: 15px;
    color:rgb(134, 25, 167);
}
.order-details{
    display: grid;
    font-size: 18px;
    margin: 10px 10px;
    color: #00bcd4;
}
.order-detailss{
   display: flex;
   margin: 10px 10px;
}
.order-detailss img{
    border: 2px solid #0dc1d4;
    border-radius: 10px;
    height: 180px;
}
.order-detailsss{
    margin: 10px 10px;
    color: white;
}
.order-detailsss span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.rating{
    font-size: 12px;
}
.pp p{
    display: flex;
    gap: 5px;
}
.quantity{
    border: 2px solid white;
    width: fit-content;
    margin: -6px 15px;
    color: white;
}
.quantity label{
    font-size: 20px;
    
}
.quantity select{
    padding: 4px;
    width: 40px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
}
.p{
    margin: 15px 15px;
    display: grid;
    gap: 10px;
}
.express-delivery {
    color: #00bcd4;
    font-size: 20px;
    margin-top: 10px;
}
.bank-offers {
    color: #ff9966;
    font-size: 14px;
    margin: 10px 0;
}
.price-details{
    color: white;
    margin: 10px 10px;
    width: 280px;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
    margin: 5px 0;
}
.sp{
    color: red;
}
.order-btn {
    background-color: #00b4d8;
    color: white;
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 85px;
}
.immg2 img{
    margin: 50px 150px;
    width: 80%;
    height: 50%;
}
