.card2{
    width: 98%;
    height: 50vh;
    background-color:#1c0b5a;
    margin: 10px 14px;
    border-radius: 20px;
    /* overflow: hidden;
    position: relative; */
    /* padding: 10px; */
}
.card2 h3{
    margin-left: 20px;
    font-size: 20px;
}
.card2-imgg{
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* white-space: nowrap; */
    /* scroll-snap-type: x mandatory; */
}
.card2-img{
    width: 200px;
    flex-shrink:0;
    height: 41vh;
    margin: 10px;
    border: 2px solid darkblue;
    border-radius: 12px;
}
.card2-img img{
    width: 100%;
    height: 85%;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
}
.card2-img:hover img{
    padding: 0px;
}
.cart-img2, p, span{
    color:rgb(161, 133, 133);
    margin-left: 5px;
}